<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>{{ title }}</title>

	{% include 'partials/schema.njk' %}

	<link rel="icon" href="{{ 'assets/images/favicon.svg' | url }}">
	<link rel="apple-touch-icon" href="{{ 'assets/images/apple-touch-icon.png' | url }}">
	<link rel="manifest" href="{{ 'assets/manifest.json' | url }}">

	<base href="/">
	<link rel="stylesheet" href="{{ 'assets/styles/style.css' | url }}" />
	<script src="{{ 'assets/scripts/main.js' | url }}" type="module" defer></script>

	{% include 'partials/gtag.njk' %}

</head>
<body>

{{ content | safe }}

</body>
</html>
