---
title: "Event Listing"
layout: "base.njk"
---

<header class="events">
    <h1>RCBB Event Listing</h1>
    <div>{% include 'partials/logo.njk' %}</div>
</header>

<main>
    <ul>
        <li>
            event
        </li>
    </ul>
</main>


