---
title: "Redstone Community Big Band - Gallery"
pageClass: "page-gallery"
layout: "base.njk"
---
<ul class="gallery-container">
    <li><img src="{{ '/assets/images/IMG_8286.jpg' | url }}" alt=""></li>
    <li><img src="{{ '/assets/images/IMG_8286.jpg' | url }}" alt=""></li>
    <li><img src="{{ '/assets/images/IMG_8286.jpg' | url }}" alt=""></li>
    <li><img src="{{ '/assets/images/IMG_8286.jpg' | url }}" alt=""></li>
    <li><img src="{{ '/assets/images/IMG_8286.jpg' | url }}" alt=""></li>
</ul>
