---
title: "Redstone Community Big Band - Gallery"
pageClass: "page-gallery"
layout: "base.njk"
---
<ul class="gallery-container">
    {% for img in gallery %}
    <li>
        <a href="{{ img.href }}" class="glightbox">
        <img src="{{ img.src }}" alt="{{ img.alt }}">
        </a>
    </li>
    {% endfor %}
</ul>
