---
title: "Redstone Community Big Band - Gallery"
pageClass: "page-gallery"
layout: "base.njk"
---

<div class="glightbox-container" aria-roledescription="Image gallery" aria-label="Image gallery">
    <ul class="gallery-container">
        {% for img in gallery %}
        <li>
            <a class="glightbox"
               href="https://res.cloudinary.com/rdl/image/upload/c_scale,f_auto,w_2400/v1707550787/rcbb/images/{{ img
               .src }}.jpg"
               aria-label="{{ img.title }}"
               data-glightbox="description: {{ img.desc }}">
                <img loading="lazy"
                     alt="{{ img.title }}"
                     src="https://res.cloudinary.com/rdl/image/upload/c_scale,f_auto,w_600/v1707550787/rcbb/images/{{
                     img.src }}.jpg">
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
