---
title: "Redstone Community Big Band -Salfords"
layout: "base.njk"
---

<header class="hero">

    <img class="bg" src="https://res.cloudinary.com/rdl/image/upload/e_brightness:-40/e_blur:900/v1707550787/rcbb/images/IMG_8292.jpg" alt="">
    <div class="overlay"></div>
    <img class="logo" src="assets/images/rcbb-logo-full-mask.svg" alt="">

</header>

<div class="container">
    <h2>The Band.</h2>
    <div>
        <p>The Redstone Community Big Band is a group of like-minded amateur musicians that get together once a week to
            play classic band jazz and swing music.</p>
        <p>Directed by Graham Russell, a professional musician with 30+ years experience as a working, the band plays </p>
        <p>The Redstone Community Big Band is a group of like-minded amateur musicians that get together once a week to
            play classic band jazz and swing music.</p>
        <p>Directed by Graham Russell, a professional musician with 30+ years experience as a working, the band plays </p>
        <p>The Redstone Community Big Band is a group of like-minded amateur musicians that get together once a week to
            play classic band jazz and swing music.</p>
        <p>Directed by Graham Russell, a professional musician with 30+ years experience as a working, the band plays </p>
        <p>The Redstone Community Big Band is a group of like-minded amateur musicians that get together once a week to
            play classic band jazz and swing music.</p>
        <p>Directed by Graham Russell, a professional musician with 30+ years experience as a working, the band plays </p>
    </div>
</div>

<section class="container">
    <h2>The Band.</h2>
    <div>
        <p>The Redstone Community Big Band is a group of like-minded amateur musicians that get together once a week to
            play classic band jazz and swing music.</p>
        <p>Directed by Graham Russell, a professional musician with 30+ years experience as a working, the band plays </p>
    </div>

</section>






