---
title: "Redstone Community Big Band -Salfords"
layout: "base.njk"
---

<header class="hero">

    <img class="bg" src="https://res.cloudinary.com/rdl/image/upload/e_brightness:-40/e_blur:900/v1707550787/rcbb/images/IMG_8292.jpg" alt="">
    <div class="overlay"></div>

    {% include 'partials/logo.njk' %}

</header>

<div class="content-section about">
    <div class="section-title">
        <h2>About the band</h2>
    </div>
    <div class="section-body">
        <p>The Redstone Community Big Band is a group of like-minded, amateur musicians of all ages, that get together once a week to
           play arrangements of classic big band jazz, swing, latin and contemporary music.</p>
        <p>Originally formed in 2005 we are currently directed by Graham Russell, a professional musician with 40 over
           years experience and a love of the big band genre. Since Graham began leading the band, his skill
           and enthusiasm has helped Redstone go from strength to strength.</p>
        <p>The band performs regular public concerts throughout the year, raising money for our nominated local charities,
           as well as occasional private bookings: local shows, wedding anniversaries etc.</p>
    </div>
</div>

<div class="content-section concerts">
    <div class="section-title">
        <h2>Concerts & Fund-raising</h2>
    </div>
    <div class="section-body">
        <p>The Redstone Community Big Band perform a number of public charity concerts each year to raise money for local
           charities, usually nominated by a band member.</p>
    </div>

</div>

<div class="content-section book">
    <div class="section-title">
        <h2>Book us!</h2>
    </div>
    <div class="section-body">
        <p>The Redstone Community Big Band perform a number of public charity concerts each year to raise money for local
           charities, usually nominated by a band member.</p>
    </div>

</div>

<div class="content-section join">
    <div class="section-title">
        <h2>Joining the band</h2>
    </div>
    <div class="section-body">
        <p>Redstone is a community big band and as such we are open to anyone, provided that you play a traditional big band
           instrument and can read music at grade level, or above. No previous jazz experience is necessary and there are no auditions.</p>
        <p>However, although we don't limit our sections to traditional big band sizes (we currently have 10 alto sax players
           for example!), we are constrained by our rehearsal space and concert logistics.</p>
        <p>If you are interested in becoming a member then send us an email.</p>
    </div>

</div>

<div class="content-section md">
    <div class="section-title">
        <h2>Our M.D.</h2>
    </div>
    <div class="section-body">
        <p>Graham Russell is an outstanding trumpeter who has worked with artists as diverse as Mike Westbrook, Shirley
           Bassey, Paul McCartney and the Royal Philharmonic Orchestra and was lead trumpet for many years in Starlight Express.</p>
    </div>

</div>






