---
title: "Redstone Community Big Band -Salfords"
pageClass: "page-home"
layout: "base.njk"
---

<header class="hero">
    <img class="bg" src="assets/images/hero.jpg" alt="">
    <div class="social">
        <a href="https://www.facebook.com/RedstoneCommunityBigBand/" aria-label="Follow Redstone us on Facebook">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path d="M12.001 2.002c-5.522 0-9.999 4.477-9.999 9.999 0 4.99 3.656 9.126 8.437 9.879v-6.988h-2.54v-2.891h2.54V9.798c0-2.508 1.493-3.891 3.776-3.891 1.094 0 2.24.195 2.24.195v2.459h-1.264c-1.24 0-1.628.772-1.628 1.563v1.875h2.771l-.443 2.891h-2.328v6.988C18.344 21.129 22 16.992 22 12.001c0-5.522-4.477-9.999-9.999-9.999z"/>
            </svg>
        </a>
        <a href="https://www.instagram.com/redstonebigband/" aria-label="Follow Redstone us on Instagram"><svg
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path d="M20.947 8.305a6.53 6.53 0 0 0-.419-2.216 4.61 4.61 0 0 0-2.633-2.633 6.606 6.606 0 0 0-2.186-.42c-.962-.043-1.267-.055-3.709-.055s-2.755 0-3.71.055a6.606 6.606 0 0 0-2.185.42 4.607 4.607 0 0 0-2.633 2.633 6.554 6.554 0 0 0-.419 2.185c-.043.963-.056 1.268-.056 3.71s0 2.754.056 3.71c.015.748.156 1.486.419 2.187a4.61 4.61 0 0 0 2.634 2.632 6.584 6.584 0 0 0 2.185.45c.963.043 1.268.056 3.71.056s2.755 0 3.71-.056a6.59 6.59 0 0 0 2.186-.419 4.615 4.615 0 0 0 2.633-2.633c.263-.7.404-1.438.419-2.187.043-.962.056-1.267.056-3.71-.002-2.442-.002-2.752-.058-3.709zm-8.953 8.297c-2.554 0-4.623-2.069-4.623-4.623s2.069-4.623 4.623-4.623a4.623 4.623 0 0 1 0 9.246zm4.807-8.339a1.077 1.077 0 0 1-1.078-1.078 1.077 1.077 0 1 1 2.155 0c0 .596-.482 1.078-1.077 1.078z"/>
                <circle cx="11.994" cy="11.979" r="3.003"/>
            </svg>
        </a>
    </div>
    <div class="overlay"></div>
    {% include 'partials/logo.njk' %}
</header>

<div id="about" class="content-section theme-grey">
    <div class="section-title">
        <h2>About the band</h2>
    </div>
    <div class="section-body">
        <p>The <span class="ll">Redstone Community Big Band</span> is a group of like-minded, amateur musicians of all
            ages, that get together once a week to play arrangements of classic big band jazz, swing, latin and contemporary music.</p>
        <p>The band is directed with great enthusiasm and expertise by <a href="#musicaldirector">Graham Russell</a>, a
            professional musician with more than 40years experience and a particular passion for the big band genre.</p>
        <p>The band performs regular public concerts throughout the year, raising money for our nominated local charities,
           as well as occasional private bookings: local shows, wedding anniversaries etc. See our <a 
                    href="/events">Concert & Events Listing</a> for details.</p>
        <p>If you would like information about booking the Redstone Community Big Band for you event or private
            function, please email <a href="mailto:enquiries@redstonebigband.com">RCBB Enquiries</a></p>
    </div>
</div>

<div id="concert" class="content-section theme-blue">
    <div class="section-img">
        <img class="bw" loading="lazy" src="assets/images/feature-cb.jpg" alt="Image of Charlotte">
    </div>
    <div class="section-title">
        <h2 class="white">Next concert</h2>
    </div>
    <div class="section-body">
        <h2>APRIL 20TH</h2>
        <p>Our next concert will be on <strong>Saturday 20th April at 12pm</strong> in aid of a
            wonderful charity called <a href="https://www.charlottesbag.com/">Charlotte's Bag</a>.</p>
        <p>Charlotte Eades died from glioblastoma in February 2016, just a week after her 19th birthday – but before
            her death Charlotte made a difference to thousands of other young cancer sufferers.</p>
        <p>The charity created in her name is one of the few UK charities specifically focussing on raising funds for
            research into, and awareness of, glioblastoma multiforme – a very rare and currently nearly always
            terminal form of brain cancer can affect anyone of any age.</p>
        <p>Please join us in supporting Charlotte's charity, see our <a href="/events">Concert Listings</a> for full details.</p>
    </div>
</div>

<div id="charity" class="content-section theme-white">
    <div class="section-title">
        <h2>Charity Concerts</h2>
    </div>
    <div class="section-body">

        <p>The Redstone Community Big Band perform a number of public charity concerts each year to raise money for local
            organisations, that have usually nominated by a band member.</p>
        <p>If you would like to come along and support the band at our next concert then please check out <a
                    href="/events">Concert & Events Listing</a>, or follow us on Social Media.</p>
        <p>If you are interested in booking the band for an event, or private function, then please email <a href="mailto:enquiries@redstonebigband.com">RCBB Enquiries</a></p>
        <div class="logo-grid">
            <a href="https://www.bhf.org.uk/"><img loading="lazy" src="assets/images/logo-bhf.png" alt="British Heart
            Foundation
            Logo"></a>
            <a href="https://www.charlottesbag.com/"><img loading="lazy" src="assets/images/logo-charlottes-bag2.jpeg"
                                                           alt="Charlotte's Bag Logo Logo"></a>
            <a href="https://www.stch.org.uk/"><img loading="lazy" src="assets/images/logo-st-catherines.png" alt="St
            Catherine's
            Hospice Logo"></a>
            <a href="https://www.mariecurie.org.uk/"><img loading="lazy" src="assets/images/logo-marie-curie.png"
                                                          alt="Marie
            Curie
            Logo"></a>
            <a href="https://www.dementiafirst.org.uk/"><img loading="lazy" src="assets/images/logo-dementia-first.jpeg"
                                                              alt="Dementia 1st Logo"></a>
            <a href="https://www.macmillan.org.uk/"><img loading="lazy" src="assets/images/logo-macmillan.png"
                                                         alt="Macmillan"></a>
            <a href="https://www.macmillan.org.uk/"><img loading="lazy" src="assets/images/logo-samaritans.svg"
                                                         alt="Samaritans"></a>
            <a href="https://www.macmillan.org.uk/"><img loading="lazy" src="assets/images/logo-challengers.svg"
                                                          alt="Challengers"></a>
        </div>
    </div>
</div>

<div id="musicaldirector" class="content-section theme-grey">
    <div class="section-img">
        <img loading="lazy" src="assets/images/IMG_GR.JPG" alt="Image of Graham Russell">
    </div>
    <div class="section-title">
        <h2 class="white">Musical Director</h2>
    </div>
    <div class="section-body">
        <p><strong>Graham Russell</strong> is an outstanding trumpeter who has worked with artists as diverse as Mike Westbrook, Shirley
           Bassey, Paul McCartney and the Royal Philharmonic Orchestra and was lead trumpet for many years in
            the musical Starlight Express.</p>
        <p>Graham began directing the Redstone big band in 2015 and his energy, enthusiasm and deep knowledge of big
            band jazz helps Redstone improve year-on-year.</p>
        <p>Very much still a working musician, as well as directing the Redstone big band on Saturday mornings,
            Graham can be heard performing with his own sextet, the Vince Dunn Orchestra and many others!</p>
        <p>Follow Graham on <a href="https://www.facebook.com/graham.russell.102">Facebook</a> for more details</p>
    </div>
</div>

<div id="join" class="content-section theme-orange">
    <div class="section-title">
        <h2>Contact us</h2>
    </div>
    <div class="section-body">

        <h3>Joining the band</h3>
        <p>Redstone is a community big band and as such we are open to anyone that plays a traditional big band
           instrument (sax, trumpet, trombone, guitar, bass, keys & drums) and can read music at grade 6 level, or
            above. No previous jazz experience is necessary and there are no auditions.</p>
        <p>However, whilst we don't limit our sections to traditional big band numbers (we currently have 10 alto sax
            players for example!), we are constrained by our rehearsal space and concert logistics.</p>
        <p>Email us with your details (instrument/experience etc.) and we'll let you know whether we currently have
            places available. If we can't offer you a place immediately then you may be able to 'dep' at rehearsals,
            or just come along and watch.
        </p>
    </div>
</div>

{% include 'partials/footer.njk' %}
