
.browser-container {
  margin-top: 3rem;
  margin-inline: auto;
  display: grid;
  place-content: center;
}
.browser {
  width: min(80vw, 900px);

  border-radius: 9px 9px 5px 5px;
  overflow: hidden;
  box-shadow: 0 0 1.2px rgba(0, 0, 0, 0.021), 0 02.7px rgba(0, 0, 0, 0.031), 0 0 4.6px rgba(0, 0, 0, 0.038), 0 0 6.9px rgba(0, 0, 0, 0.044), 0 0 10px rgba(0, 0, 0, 0.05), 0 0 14.2px rgba(0, 0, 0, 0.056), 0 0 20.1px rgba(0, 0, 0, 0.062), 0 0 29.2px rgba(0, 0, 0, 0.069), 0 0 45px rgba(0, 0, 0, 0.079), 0 0 80px rgba(0, 0, 0, 0.1);
  .bar {
    display: flex;
    height: 12px;
    background-color: rgb(54, 56, 58);;
    align-items: center;
    padding: 1.25rem 1rem;
    .dot {
      height: 14px;
      aspect-ratio: 1;
      //background-color: red;
      border-radius: 50%;
      display: inline-block;
      margin-right: 5px;
      border: 1px solid #333;
      &.red { background-color: #ff5f56; }
      &.yellow { background-color: #ffc343; }
      &.green { background-color: #32a852; }
    }
  }
  .window {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: calc(16 / 9 * 100%); //56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  }
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }

}
@media (min-width: 35em) {
  .browser .window {
    padding-top: calc(9 / 16 * 100%);
  }
}
