@use 'variables' as *;
@use 'mixins' as *;

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

.hero {
  position: relative;
  height: 100dvh;
  width: 100%;
  display: grid;
  grid-template-areas: 'stack';
  place-items: center;
  overflow: hidden;
  > * {
    grid-area: stack;
  }
  .overlay {
    position: absolute;
    inset: 0;
    background: #732626;
  }

  .bg {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .logo {
    position: absolute;
    max-width: 400px;
    height: auto;
    z-index: 1;
  }
}
.container {
  position: relative;
  margin: 3rem;
  display: block;

  @media (width > 800px) {

      display: grid;
      grid-template-columns: 38% 1fr;
      align-items: start;

      :not(h2) {
        grid-column: 2;
      }
    > h2 {
      position: sticky;
      top: 2rem;
    }


  }
}



