@use 'vars' as *;

.logo {
  width: min(62vw, 480px);
}

.section {
  &-hero {
    display: grid;
    min-height: 100vh;
    place-items: center;
    //background-color: black;
    > * {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }
  }
  &-about {
    //background-color: white;
    min-height: 200vh;
  }
  &-events {

  }
  &-contact {
    //background-color: yellow;
    min-height: 100vh;
  }
}

main {
  transition: background-color;
  transition-duration: .5s;
  transition-timing-function: ease-in-out;
}

.bg {
  &-hero {
    background-color: black;
  }
  &-about {
    background-color: red;
  }
  &-contact {
    background-color: grey;
  }
}

