@use 'variables' as *;

.nav-global-bgd {
  position: fixed;
  inset: 0 0 auto 0;
  width: 100%;
  z-index: 500;
  height: 5rem;
  opacity: 0;
  background-color: $clr-primary-500;
  transition: opacity 300ms ease-out;
}
.nav-global {
  position: fixed;
  inset: 0 0 auto 0;
  z-index: 501;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  background-color: transparent;
}

.logo {
  width: min(62vw, 200px);
  height: auto;
  fill: white;
  .icon { fill: hsl(189, 96%, 48%); }
  .label { fill: hsl(83, 86%, 46%); }
}

.nav-primary {
  position: fixed;
  inset: 0 0 0 auto;
  z-index: 499;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  list-style: none;
  width: min(100%, 15em);
  padding: clamp(5rem, 15vh, 10rem) 2rem 0 3rem;
  background-color: $clr-primary-500;
  border-radius: 0;
  transform: translateX(100%);
  transition: transform 400ms cubic-bezier(.18,.81,.1,.92);
  li {
    > a {
      font-family: $ff-primary;
      font-size: 1.5rem;
      text-decoration: none;
      color: $clr-accent-500;
      transition: color .3s ease-out;
      &:hover,
      &:focus-visible {
        color: white;
        &:after {
          content: '.';
        }
      }
    }
  }
  &[aria-expanded="true"] {
    transform: translateX(0);
  }
}
.active {
  opacity: 1;
}

@media (max-width: 35em) {
  .nav-primary {
    width: 100vw;
  }
}
