
@use 'variables' as *;


html {
  font-size: 100%;
}
body {
  font-family: $ff-primary;
  line-height: 1.5;
  font-weight: $fw-normal;
  color: $clr-grey-900;
}

h1, h2, h3 {
  font-family: $ff-heading;
  font-weight: $fw-semi-bold;
  line-height: 1.1;
  color: $clr-primary-500;
}
.display {
  font-weight: $fw-bold;
}
h1 { font-size: $fs-x-large; }
h2 { font-size: $fs-large; }
h3 { font-size: $fs-default; }
strong { font-weight: $fw-bold; }
p ~ p {
  margin-top:.5rem;
}
