
@use 'variables' as *;

html { font-size: 100%; }
body {
  font-size: $fs-default;
  font-family: $ff-primary;
  line-height: 1.4;
  font-weight: $fw-normal;
  color: $clr-grey-900;
}

h1, h2, h3, h4, h5 {
  font-family: $ff-heading;
  font-weight: $fw-normal;
  line-height: 1.1;
  color: $clr-primary-500;
  margin-bottom: 1rem;
  text-wrap: balance;
}

.display {
  font-weight: $fw-normal;
  font-size: clamp(1.75rem, 5vw + .5rem, 5rem);
  color: hsl(0, 50%, 50%);
  line-height: 1.05;
  &-copy {
    font-size: clamp(1rem,1vw + 1rem, 1.5rem);
    line-height: 1.5;
    color: $clr-accent-500;
    opacity: .75;
  }
}
h1 {
  color: hsl(0, 50%, 30%);
  font-size: clamp(3rem, 5vw + 1rem, #{$fs-x-large});
}
h2 {
  font-size: clamp(1.75rem, 3vw + .5rem, #{$fs-x-large});
  line-height: 1.1;
  margin-bottom: 2rem;
  font-weight: $fw-normal;
}
h3 { font-size: $fs-default; }
strong { font-weight: $fw-bold; }
p {
  line-height: 1.5;
  font-size: clamp(1rem, 2vw, #{$fs-default});
  max-width: 70ch;
  text-wrap: pretty;
}
.brand {
  font-weight: $fw-semi-bold;
  color: $clr-accent-alt-500;
}
.txt-small {
  margin-top: 1em;
  font-size: $fs-small;
}
a.inline {
  position: relative;
  color: inherit;
  font-weight: $fw-semi-bold;
  display: inline-block;
  text-decoration: none;

  &::before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    bottom: 0; left: 0;
    height: 2px;
    background-color: #ccc;
  }
  &::after {
    content: '';
    position: absolute;
    display: block;
    bottom: 0; left: 0;
    width: 100%;
    height: 2px;
    background-color: #000;
    transform: scaleX(0);
    transform-origin: top left;
    transition: transform 0.3s ease;
  }
  &:hover::after {
    transform: scaleX(1);
  }
}






