@use 'reset';
@use 'typography';
@use 'layouts';


body {
  background-color: #253545;

}
.logo {
  width: min(38vw, 600px);
  height: auto;
  fill: white;
  .icon { fill: hsl(189, 96%, 48%); }
  .label { fill: hsl(83, 86%, 46%); }
}
.tag {
  color: white;
  font-weight: 300;
  font-size: 1em;
  letter-spacing: .2rem;
  text-transform: uppercase;
}
