
:root {
  --cl-primary: ;
  --cl-accent: ;

  --ff-body: '';
  --ff-heading: '';
  --fs-small: ;
  --fs-default: ;
  --fs-large: ;
  --fs-xlarge: ;

  --fw-normal: ;
  --fw-semi-bold: ;
  --fw-bold: ;
  --fw-black: ;
}
