<div id="browser" class="browser-container">
    <div class="browser">
        <div class="bar">
            <span class="dot red"></span>
            <span class="dot yellow"></span>
            <span class="dot green"></span>
        </div>
        <div class="window">
            <iframe src="https://restaurant.apptiser.io/92596-rc-demo-restaurant/"
                    aria-label="Displaying a demonstration apptiser website"></iframe>
        </div>
    </div>
</div>
