<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "MusicGroup",
        "name": "Redstone Community Big Band",
        "url": "https://redstonebigband.com",
        "logo": "https://redstonebigband.com/assets/rcbb-logo-full-col-trim.png"
    }
</script>
