<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "MusicGroup",
        "name": "Redstone Big Band",
        "url": "https://redstonebigband.com",
        "image": "https://res.cloudinary.com/rdl/image/upload/v1766080928/rcbb/logos/rbb-logo.jpg",
        "logo": "https://res.cloudinary.com/rdl/image/upload/v1766081073/rcbb/logos/rbb-logo-full-col.png"
    }
</script>
